.messages-3amgkR {
    margin: 0;
    overflow-x: hidden;
    background-color: #19191b !important;
    contain: size;
}

.scroller-1JbKMe {
    background-color: #19191b !important;
}

.activityPanel-28dQGo {
    border-bottom: 1px solid var(--background-modifier-accent);
    background: #19191b !important;
}

.searchBar-6Kv8R2 {
    background: #19191b !important;
}

.typeWindows-1za-n7 {
    background: #19191b !important;
}

.form-2fGMdU {
    background: #19191b !important;
}

.theme-dark .form-2fGMdU:before {
    background: #19191b !important;
}

.container-1giJp5 {
    background: #19191b !important;
}

.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    background: #19191b !important;
}

.platform-win .scroller-2TZvBN {
    background: #19191b !important;
}

.container-1r6BKw.themed-ANHk51 {
    background: #19191b !important;
}

element.style {
    background: #19191b !important;
}

.scroller-2wx7Hm {
    z-index: 1;
    background: #19191b !important;
}

.clickable-2ap7je .header-2o-2hj {
    background: #19191b !important;
}

.scroller-tlc3kG {
    background: #19191b !important;
}

.messages-3G3erD {
    background-color: #19191b !important;
}

.channelHeader-3Gd2xq {
    background-color: #19191b !important;
}

.header-2-Imhb, .header-2-Imhb .tab-ck0077 {
    background: #19191b !important;
}

.auto-Ge5KZx, .auto-Ge5KZx.fade-2kXiP2:hover, .auto-Ge5KZx.scrolling-1Cdwk- {
    background: #19191b !important;
}

.members-1998pB, .members-1998pB>div {
    background-color: #19191b !important;
}

@media (max-width: 780px)
.header-39GIC8 {
    background: #19191b !important;
}

.premiumContainer-2Iux5m {
    background: #19191b !important;
}

.sidebarRegionScroller-3MXcoP {
    background: #19191b !important;
}

.contentColumn-2hrIYH, .customColumn-Rb6toI {
    background: #19191b !important;
}

.theme-light .action-1lSjCi {
    border-color: #7289da !important;
    background: #202225 !important;
}

.theme-light .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG {
    background: #19191b !important;
}

.listeningAlong-30wH70 {
    background: #19191b !important;
}

.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG {
    background: #19191b !important;
}

.infoScroller-3EYYns {
    background: #19191b !important;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #19191b !important;
}

.theme-dark #MemberCount {
    background: #19191b !important;
}



