
.ui-standard-sidebar-view .content-column.default {
    background: #19191b;
}

.theme-dark .members-1998pB {
    background-color: #19191b !important;
}

.title-3qD0b- {
    background: #19191b !important;
}

.header-2o-2hj {
    background: #19191b;
}

.scroller-2v3d_F {
    background: #19191b;
}

.guilds-wrapper .guilds {
    background: #19191b !important;
}

.container-2Thooq {
    background: #19191b;
}

.chat .messages {
    background: #19191b !important;
}

.theme-dark .chat form {
    background-color: #19191b;
}

.scroller-2FKFPG {
    background: #19191b;
}

element.style {
    background: #19191b !important;
}

.private-channels .search-bar {
    background-color: #19191b;
}

.typeWindows-1za-n7 {
    background: #19191b;
}

.image-33JSyf {
    border-radius: 5px;
}

.private-channels, .channel, .avatar-small {
    border-radius: 2px;
}

.mask-3OgeRz {
	-webkit-mask: 1px !important;
}

.flex-horizontal>.flex-spacer {
    background: #19191b;
}

.theme-dark #friends {
    background-color: #19191b;
}

.theme-dark .headerBar-UHpsPw {
    background: #19191b !important;
}

element.style {
    background: #19191b !important;
}

#friends .friends-table .friends-table-body {
    background: #19191b !important;
}

#friends, .friends-table, .friends-table-header {
    background: #19191b;
}

.channels-Ie2l6A {
    background-color: #19191b;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:3px solid rgba(57, 57, 59, 1) !important;
	background-color:#19191b !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:3px solid rgba(255,255,255,0) !important;
	background-color:#19191b !important;
}

.theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: #19191b;
    opacity: .7;
}

.theme-dark .messages-wrapper .messages .divider.divider-red>span {
    background: #19191b;
    color: #FF5555;
}

.theme-dark .messages-wrapper .messages .divider:not(.red) span {
    background: #19191b;
}

.theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: #555555;
}

.theme-dark .typing-2GQL18 {
    background-color: #19191b;
}

.container-1UB9sr {
    background: #19191b !important;
}

.chat .new-messages-bar button:first-child {
    background: #555555;
}

.chat .new-messages-bar button:last-child {
    background: #555555;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #19191b;
}

.chat .avatar-large {
    border-radius: 5px;
}

.avatarDefault-35WC3R {
    border-radius: 5px;
}

.avatarSpeaking-1wJCNq {
    border-radius: 5px;
}

.theme-dark .members-1998pB {
    margin-left: 2px;
}

.scrollerWrap-2lJEkd {
    background: #222224;
}

.scroller-2FKFPG {
    margin-right: 2px;
}

.emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background: #222224;
}

.emojiPicker-3m1S-j {
    background-color: #222224;
    border: 1px solid hsla(0,0%,75%,0);
}

.scroller-wrap .scroller {
    background: #222224 !important;
}

.bda-dark #bda-qem button {
    background: #222224;
}

.emojiPicker-3m1S-j .category-2U57w6 {
    background: #404042;
	color: #dcdcde;
	border-radius: 7px;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: #222224;
}

.diversitySelector-tmmMv0 .item-16cXuq {
    background: #222224;
}

.emojiPicker-3m1S-j .header-1nkwgG {
    background: #222224;
}

.emojiPicker-3m1S-j .scroller-3vODG7 {
    background: #222224;
}

.theme-dark .listeningAlong-2UPsxf {
    background-color: #19191b;
}

.scroller-wrap .scroller {
    background: #19191b;
}

.theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background-color: #19191b;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr>div {
    background: #0a0a0a;
    opacity: 0.4;
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr>span {
    color: rgb(224, 76, 76);
}

.theme-dark .divider-3gKybi span {
    background-color: #19191b;
}

.theme-dark .divider-3gKybi:not(.red-1YQ4s7) div {
    background: #303235;
}

.theme-dark .divider-3gKybi:not(.red-1YQ4s7) span {
    color: #777777;
}

.container-PNkimc {
    background-color: #19191b;
    contain: layout;
    min-height: 0;
    position: relative;
}

.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
    background: #19191b;
}

.scroller-2FKFPG {
    margin-right: 0.2px;
}
	
.scrollerWrap-2lJEkd {
	background: #19191b
}

.emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_ {
    background: #222224;
}

.da-chat .da-scroller:not(.members-1998pB)::-webkit-scrollbar-thumb {
    background: #303235 !important;
	border:none !important;
}

.da-chat .da-scroller:not(.members-1998pB)::-webkit-scrollbar-track-piece {
    background: #19191b !important;
    border:none !important;
}

.emojiPicker-3m1S-j .category-2U57w6 {
	background: #19191b !important;
    background-color: #303235 !important;
	border-radius: 1px !important;
}

.emojiPicker-3m1S-j {
    background-color: #303235 !important;
    border:none;
}

.bda-dark #bda-qem button.active {
    background-color: #303235 !important;
}

.bda-dark #bda-qem button:hover {
    background-color: #303235 !important;
}

.emojiPicker-3m1S-j .scroller-3vODG7 {
	background: #222224 !important;
}

.bda-dark #bda-qem {
    border-bottom: 1px solid #222224 !important;
    background: #222224 !important;
}

::-webkit-scrollbar-thumb {
	border: 1px solid #303235 !important;
	background-color: #303235 !important;
	color: #303235 !important;
}

.inner-1W0Bkn{
    border-radius: 5px !important;
	zoom: 100% !important;
}

.avatarHintInner-Dco91E {
	border-radius: 2px !important;
	zoom: 100% !important;
}

.membersWrap-2h-GB4 .members-1998pB .small-5Os1Bb {
    background-size: 30px !important;
	height: 30px !important;
	width: 30px !important;
}


